  <fieldset>
    <legend>Generate A Report</legend>

    <label for="select">Select A Partner</label>
    <select id="select">
      <optgroup label="Option Group">
        <option>All Partners Combined</option>
        <option>YMCA</option>
        <option>Boy Scouts</option>
      </optgroup>
    </select>
    <br />
    <hr />
    <div class="row">
      <div class="large-12 columns">
        <label>Start Date</label>
        <input type="date" name="start_date">
      </div>
      <div class="large-12 columns">
        <label>End Date</label>
        <input type="date" name="end_date">
      </div>
    </div> 
    <hr />
    <label>Pick Stats To Include</label><br />
    <ul class="no-bullet">
      <li><input id="checkbox1" type="checkbox"><label for="checkbox1">Absentee Data</label></li>
      <li><input id="checkbox2" type="checkbox"><label for="checkbox2">Summer Boost Data</label></li>
      <li><input id="checkbox2" type="checkbox"><label for="checkbox3">Year Round Reading Data</label></li>
      <li><input id="checkbox2" type="checkbox"><label for="checkbox4">Community Outreach</label></li>
    </ul>
    <hr />
    <label>Email Address To Send Report To</label>
    <input id="text" type="text" placeholder="Email Address" />
    <hr />
    <div class="button">Generate</div>
  </fieldset>
