  <h1 class="alternate divide alternate-divide">Free Library Administrative Page</h1>

  <div class="full-width">
    <ul class="side-nav">
      <li class="center white"><h3>Overall Data</h3></li>
      <li><a href="/partners">All Partners</a></li>
      <li><a href="/partners/absences">Absences</a></li>
      <li><a href="/partners/neighborhood_served">Neighborhoods Served</a></li>
      <li><a href="#">Community Outreach</a></li>
      <li><a href="#">Reading Hours</a></li>
      <li><a href="/partners/books_read">Books Read</a></li>
    </ul>
  </div>

  <div class="row min-height">
    <div class="large-24 columns">
      <div class="row pad">
        <div class="large-24 columns">
          <h1>Books Read</h1>
          <%= form_tag("load_partner", method: "post") do %>
            <%= select_tag("partner", options_from_collection_for_select(@partners, "id", "name"), include_blank: "All Partners") %>
          <% end %>
          <br />
          <h5>Books Read</h5>
          <img src="/assets/barchart.jpg" width="400" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <h5>Percent Of Students On Track</h5>
          <img src="/assets/PieChartGoogle.jpg" />
        </div>
        <div class="large-12 columns">
          <h5>Percent Of Students Reading At Grade Level</h5>
          <img src="/assets/PieChartGoogle.jpg" />
        </div>
      </div>

      <div class="row">
        <div class="large-24 columns left">
          <h5>Books Read Per Week</h5>
          <img src="/assets/lineChart.png" />
        </div>
      </div>

      <div class="row">
        <div class="large-24 columns">
          <table>
            <thead>
              <tr>
                <th>Books Read Data</th>
                <th width="150">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total number of absences</td>
                <td>
                  98
                </td>
              </tr>
              <tr>
                <td>Average number of absences per student</td>
                <td>12</td>
              </tr>
              <tr>
                <td>Average number of absences per student per week</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Percentage of absences that are asthma related</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
