<h1 class="alternate divide alternate-divide">Free Library Administrative Page</h1>

<div class="full-width">
<ul class="side-nav">
  <li class="center white"><h3>Overall Data</h3></li>
  <li><a href="/partners">All Partners</a></li>
  <li><a href="/partners/absences">Absences</a></li>
  <li><a href="/partners/neighborhood_served">Neighborhoods Served</a></li>
  <li><a href="#">Community Outreach</a></li>
  <li><a href="#">Reading Hours</a></li>
  <li><a href="/partners/books_read">Books Read</a></li>
</ul>
</div>

<div class="row">
<div class="large-24 columns">
	<h1>Neighborhoods Served</h1>
	<%= form_tag("load_partner", method: "post") do %>
  		<%= select_tag("partner", options_from_collection_for_select(@partners, "id", "name"), include_blank: "All Partners") %>
  	<% end %>
	<div class="row" id="partners-map">
	  <div class="large-24 columns">
	    <img src="/assets/heatMap.jpg" />
	  </div>
	</div>
	<br />
</div>
</div>
