<div class="row">
  <div class="large-24 columns">
    <div class="row" id="partners-map">
      <div class="large-24 columns">
        <img src="/assets/absentee.png" />
      </div>
    </div>
    <br />
  </div>
</div>
