<h1>WTF</h1>

<%= form_tag("load_partner", method: "post") do %>
  <%= select("Partner", "person_id", Partner.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}) %>
  <%= submit_tag("Select your Partner Orginization") %>
<% end %>


<li class="active"><%= link_to "New User", new_user_registration_path %></li>