<div id="site-wide-alert">
  <div class="row">
    <div class="large-8 columns">
      <h2><i class="ionicons ion-alert-circled"></i>Free Library Advisory</h2>
        <div class="alert-start"><time datetime="2015-01-05T+06:00">01-05-2015 06:00pm</time> <strong>to</strong> <time datetime="2015-01-08T+02:00">01-08-2015 02:00</time>pm</div>
      	</div>
	    <div class="large-16 columns">
	      <strong>Code Blue Effective: </strong>A child has gone missing from a center city program. If you are in the area and see a lost girl, age 8, white, black hair, please apprehend her.
	    </div>
    </div>
</div>

<% if current_user.nil? %>
<h1 class="divide alternate alternate-divide">Perspective Partner Information</h1>

<div class="row">
	<div class="small-24 columns center">
		<h1>Join Us And Help Teach Philly To Read!</h1>
	</div>
</div>
<div class="row">
	<div class="large-8 columns center">
		<i class="fa fa-book fa-5x"></i>
		<h1>1. Register As A Partner</h1>
		<p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
	</div>
	<div class="large-8 columns center">
		<i class="fa fa-bar-chart fa-5x"></i>
		<h1>2. Record Your Progress</h1>
		<p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
	</div>
	<div class="large-8 columns center">
		<i class="fa fa-check-circle-o fa-5x"></i>
		<h1>3. Improve Your Community!</h1>
		<p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
	</div>
</div>
<div class="row">
	<div class="small-24 columns center">
    <h2>New to Read by 4th?</h2>
		<a href="/users/select_partner/" id="register-button"><div class="button reg">
    Register as a User or Partner!</div></a>
	</div>
</div>
<% else %>
<h1 class="divide alternate alternate-divide">News You Can Use</h1>

<div class="row">
	<div class="large-12 columns">
	</div>
	<div class="large-12 columns">
	</div>
</div>
<% end %>

<% if !@user.nil? %>

  <%= link_to (Partner.find(@user.partner_id).name), partner_path(@user.partner_id) %><br />
<% end %>

<h1 class="divide alternate alternate-divide">Read! By 4th In The Media</h1>

<div class="darkness">
	<div class="row">
		<div class="large-8 columns">
			<fieldset class="padder">
			 	<div class="picture"></div>
			 	<h2 class="media-title">Eagles! Volunteer Locally</h2>
			 	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			 	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			 	consequat. Duis aute irure dolor in reprehenderit in voluptate .
			 	</p>
			</fieldset>
	 	</div>
	    <div class="large-8 columns">
			<fieldset class="padder">
			 	<div class="picture"></div>
			 	<h2 class="media-title">Read! By 4th Summer Programs Begin</h2>
			 	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			 	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			 	consequat. Duis aute irure dolor in reprehenderit in voluptate .
			 	</p>
			</fieldset>
	 	</div>
	 	<div class="large-8 columns">
			<fieldset class="padder">
			 	<div class="picture"></div>
			 	<h2 class="media-title">Branden Boykin Leads A Reading Group</h2>
			 	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			 	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			 	consequat. Duis aute irure dolor in reprehenderit in voluptate .
			 	</p>
			</fieldset>
	 	</div>
	</div>
</div>

<h1 class="divide alternate alternate-divide">Upcoming Partner Events</h1>	

<div class="row">
  <div class="medium-24 columns">
    <div class="event-box">
      <div class="event-row">
        <a href="#" target="_blank">
          <div class="date-time">Monday, May  11 <br>
          12:00 PM - 2:00 PM</div>
        </a>
          <div class="event-title">YMCA</div>
          <div class="event-location">JFK Plaza, 1599 John F. Kennedy Boulevard</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
      </div>
       <div class="event-row">
         <a href="#" target="_blank">
          <div class="date-time">Wednesday, May 13 <br>
          11:00 AM - 3:30 PM</div>
        </a>
          <div class="event-title">Reader's Fair</div>
          <div class="event-location">Thomas Paine Plaza (MSB)</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
      </div>
      <div class="event-row">
        <a href="#" target="_blank">
          <div class="date-time">Friday, May 15 <br>
          7:00 AM - 6:00 PM</div>
        </a>
          <div class="event-title">Fairmount Read-a-thon</div>
          <div class="event-location">Schuylkill River; Kelly Drive</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
      </div>
    </div>
  </div>
</div>
<br />


