<!-- <div id="site-wide-alert">
  <div class="row">
    <div class="large-8 columns">
      <h2><i class="ionicons ion-alert-circled"></i>Free Library Advisory</h2>
        <div class="alert-start"><time datetime="2015-01-05T+06:00">01-05-2015 06:00pm</time> <strong>to</strong> <time datetime="2015-01-08T+02:00">01-08-2015 02:00</time>pm</div>
      	</div>
	    <div class="large-16 columns">
	      <strong>Code Blue Effective: </strong>A child has gone missing from a center city program. If you are in the area and see a lost girl, age 8, white, black hair, please apprehend her.
	    </div>
    </div>
</div> -->

<% if current_user.nil? %>
<h1 class="divide alternate alternate-divide">Perspective Partner Information</h1>

<div class="row">
	<div class="small-24 columns center">
		<h1>Join Us And Help Teach Philly To Read!</h1>
		<br />
	</div>
</div>
<div class="row">
	<div class="large-8 columns center">
		<i class="fa fa-book fa-5x"></i>
		<h1>1. Register As A Partner</h1>
		<p class="justify">Becoming a partner is simple and quick. Follow the steps and we will guide you through the entering the necissary information. Before you know it you will be signed up to participate in the Read! By 4th initiative!</p>
	</div>
	<div class="large-8 columns center">
		<i class="fa fa-bar-chart fa-5x"></i>
		<h1>2. Record Your Progress</h1>
		<p class="justify">As a User you will be expected to enter information about your program's progress. This data will be used to track the Read! By 4th initiative's progress.</p>
	</div>
	<div class="large-8 columns center">
		<i class="fa fa-check-circle-o fa-5x"></i>
		<h1>3. Improve Your Community!</h1>
		<p class="justify">As a partner member you will part of a team of organizations that are all working toward the common goal of improving the communities they live in. Together we can make a difference in the lives of the young readers in Philadelphia!</p>
	</div>
</div>
<div class="row">
	<div class="small-8 columns center">
		<br />
		<a href="/users/select_partner/" id="register-button"><div class="button reg">
    Register as a User or Partner!</div></a>
	</div>
	<div class="small-8 columns center">
		<br />
		<a href="/parents/new" id="register-button"><div class="button reg">
    Register as a Parent!</div></a>
	</div>
	<div class="small-8 columns center">
		<br />
		<a href="/community_leaders/new" id="register-button"><div class="button reg">
    Register as a Community Leader!</div></a>
	</div>
</div>
<% else %>


<% end %>

<h1 class="divide alternate alternate-divide">Read! By 4th In The Media</h1>

<div class="darkness">
	<div class="row">
		<% @story.each do |x| %>
			<div clas="large-8 columns">
				<fieldset class="padder">
					<%= image_tag x.picture, class="picture" %>
					<h2><%= x.title %></h2>
					<p><%= x.description %></p>
					<span><%= x.story %></span>
				</fieldset>
			</div>
		<% end %>
		<!-- <div class="large-8 columns">
			<fieldset class="padder">
			 	<img src="assets/eagles_square.jpg" alt="" class="picture">
			 	<h2 class="media-title">Eagles! Volunteer Locally</h2>
			 	<p>READ! by 4th has over 50 organizations, public and private, large and small. New partner are welcome and will be added regularly.
			 	</p>

			 	<a href="http://libwww.freelibrary.org/readby4th/partners.cfm" target="_blank" class="button" id="btn">Learn More</a>
			</fieldset>
	 	</div>
	    <div class="large-8 columns">
			<fieldset class="padder">
			 	<img src="assets/summer_reading_square.jpg" alt="" class="picture">
			 	<h2 class="media-title">Read! By 4th Summer Programs Begin</h2>
			 	<p>Summer is the perfect time of year to exercise your mind and body! Did you know that when a child reads just five books over the summer, he or she will avoid “the summer slide?”. 
			 	</p>
			 	<a href="http://libwww.freelibrary.org/readby4th/summer.cfm" target="_blank" class="button" id="btn">Learn More</a>
			</fieldset>
	 	</div>
	 	<div class="large-8 columns">
			<fieldset class="padder">
			 	<img src="assets/children_reading_square.jpg" alt="" class="picture">
			 	<h2 class="media-title">2020 GOALS</h2>
			 	<p>READ! by 4th is a citywide effort of its partners, public & private, convened & managed by the Free Library of Philadelphia, aiming to majorly increase the number of students in Philly entering the 4th grade at reading level by 2020. </p>
			 	
			 	<a href="http://libwww.freelibrary.org/readby4th/partners.cfm" target="_blank" class="button" id="btn">Learn More</a>
			</fieldset>
	 	</div> -->
	</div>
</div>

<!-- <h1 class="divide alternate alternate-divide">Upcoming Partner Events</h1>	

<div class="row">
  <div class="medium-24 columns">
    <div class="event-box">
      <div class="event-row">
        <a href="#" target="_blank">
          <div class="date-time">Monday, May  11 <br>
          12:00 PM - 2:00 PM</div>
        </a>
          <div class="event-title">YMCA</div>
          <div class="event-location">JFK Plaza, 1599 John F. Kennedy Boulevard</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
      </div>
       <div class="event-row">
         <a href="#" target="_blank">
          <div class="date-time">Wednesday, May 13 <br>
          11:00 AM - 3:30 PM</div>
        </a>
          <div class="event-title">Reader's Fair</div>
          <div class="event-location">Thomas Paine Plaza (MSB)</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
      </div>
      <div class="event-row">
        <a href="#" target="_blank">
          <div class="date-time">Friday, May 15 <br>
          7:00 AM - 6:00 PM</div>
        </a>
          <div class="event-title">Fairmount Read-a-thon</div>
          <div class="event-location">Schuylkill River; Kelly Drive</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
      </div>
    </div>
  </div>
</div>
<br /> -->
