<div class="row">
	<div class="large-8 columns">
		<h1>Joe Pecci</h1>
		<h5>322 Elmers Lane</h5>
		<h5>Philly, 10146</h5>
		<h5>St. Palmira Middle School District</h5>
		<br />
		<h2>Young Readers</h2>
		<h3>Sammy Pecci</h3>
		<h3>Jill Pecci</h3>
	</div>
	<div class="large-16 columns">
		<h1>Record Reading Progress</h1>
		<h3>Jill</h3>
		<h5>Hours Of Individual Reading This Week</h5>
		<h5>Hours Of Reading Instruction Recieved This Week</h5>
		<h5>Book Finished</h5>
		<br />
		<h3>Sammy</h3>
		<h5>Hours Of Individual Reading This Week</h5>
		<h5>Hours Of Reading Instruction Recieved This Week</h5>
		<h5>Book Finished</h5>
		<br />
		<h3>Stop Watch</h3>
		<div class="big-bold">0:00:00</div>
		<div class="small-bold">Start | Stop</div>
	</div>
</div>

<h1 class="divide alternate alternate-divide"></h1>

<div class="row">
	<div class="large-24 columns">
		<h1>Report Card</h1>
		<table>
			<thead>
				<th>Reading Breakdowns</th>
				<th>Data</th>
			</thead>
			<tbody>
				<tr>
					<td>Hours Per Day Of Individual Reading</td>
					<td>1.2</td>
				</tr>
				<tr>
					<td>Hours Per Day Of Reading Instruction</td>
					<td>0.5</td>
				</tr>
				<tr>
					<td>Books Read Per Week</td>
					<td>0.7</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h3>Hours Read Per Week</h3>
		<img src="/assets/lineChart.png" />
	</div>
	<div class="large-12columns"></div>
</div>





