/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .logo {
 	width: 100px;
 	height: 100px;
 	background-color: darkblue;
 	margin-bottom: 25px;
 }
 .alternate-divide {
 	text-indent: 15px;
 }
 .hide {
 	display: none;
 }
 .name {
 	width: 65px;
 }
 img {
 	margin-top: 10px;
 }
 .technical-info {
 	background-color: darkblue;
 	color: white;
 	padding: 5px 25px;
 }
 .technical-info p a {
 	color: white;
 }
 .technical-info p a span.title {
 	font-size: 1.3em;
 }
 .picture {
 	width: 100%;
 	height: 250px;
 	background-color: darkblue;
 }
.media-title {
	text-align: center;
}
.center {
	text-align: center;
}
.justify {
	text-align: justify;
}
.reg {
	width: 500px;
}
.padder {
	padding: 20px;
	background-color: #fff;
}
.darkness {
	background-color: #f4f4f4;
	width: 100vw;
}
